.form-Filter{
    width: 80%;
    margin: 40px auto 15px;
}
.formStyle{
display: flex;
justify-content: space-evenly
}

.input-control{
    flex-grow: 1;
    padding: 5px;
}
.input-control label{
    display: block;
}
.input-control select{
    padding: 3px 5px 0 2px;
    margin: 5px 0;
    border-radius: 5px;
}

.input-control input{
    margin: 2px 0;
}

@media only screen and (max-width : 700px){
    .formStyle{
        flex-direction: column;
    }
}