.title{
    position: relative;
    width: max-content;
    margin: 0 auto 20px;
    padding:5px 0 15px;
    text-transform: capitalize;
     
}
.title:before{
    content: "";
    position: absolute;
    height: 4px;
    width: 60%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mainColor);
    
}